.cart-button {
    background: transparent; /* чтобы кнопка была без фона */
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease; /* плавный переход цвета */
    color: #555; /* исходный цвет иконки */
}

.cart-button.active {
    color: #f5c400;
}

.cart-button:hover {
    transform: scale(1.2);
}
