.admin-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.admin-panel-hover{
    color: #555555;
    display: flex;
    justify-content: center;
}

.accordion-btn {
    display: block;
    width: 100%;
    background: #2d7a2d;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
    transition: background 0.3s ease;
}

.user-requests-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: #555555;
}

.user-requests-table th,
.user-requests-table td {
    padding: 8px;
    text-align: left;
}

.user-requests-table button {
    margin-right: 5px;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.user-requests-table button:hover {
    background-color: #6e1f1f;
}

.invite-codes-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.invite-codes-list li {
    padding: 8px;
    margin-bottom: 5px;
    color: #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invite-codes-list button {
    padding: 5px 10px;
    background-color: #a22d2d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.invite-codes-list button:hover {
    background-color: #6e1f1f;
}

.user-requests-table .action-buttons {
    display: flex;
    gap: 5px;
}

.user-requests-table .approve-btn {
    background-color: #2d7a2d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
}

.user-requests-table .approve-btn:hover {
    background-color: #1f4e1f;
}

.user-requests-table .reject-btn {
    background-color: #a22d2d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
}

.user-requests-table .reject-btn:hover {
    background-color: #6e1f1f;
}

.button-delete-user{
    background-color: #6e1f1f;
}