.homePage {
}

.linkContainerHomePage {
    display: flex;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
    gap: 50px;
    text-decoration: inherit;
}

.linkContainerHomePage a {
    color: #555555;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.linkContainerHomePage a:hover {
    color: #1976d2;
}

.gameRecommendationHomePage {

}