.game-form-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.game-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game-form-top-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

.game-form-top-text-container {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}

.input-game-image {
    width: 300px;
    height: 300px;
    background: #e5e5e5;
    border: 2px dashed #bcbcbc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #555;
    cursor: pointer;
    margin-bottom: 1rem;
    overflow: hidden;
    user-select: none;
}

.game-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.input-game-title {
    max-width: 400px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
}

.input-game-details {
    max-width: 600px;
    height: 200px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
}

.input-game-price {
    max-width: 200px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
}

textarea {
    resize: vertical;
}

label {
    font-weight: bold;
}

button {
    background-color: #2e7d32;
    color: white;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button-game-save {
    max-width: 150px;
}

/*button:hover {*/
/*    background-color: #276127;*/
/*}*/

.category-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.category-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.category-option {
    padding: 0.4rem 0.8rem;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.category-option.selected {
    background-color: #2e7d32;
    color: white;
    border-color: #2e7d32;
}
